<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Alexander-Arnold</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>24.523810</td>
      <td>212.313754</td>
      <td>8.4</td>
      <td>1.0</td>
      <td>1.8</td>
      <td>206</td>
    </tr>
    <tr>
      <th>Cancelo</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>27.777778</td>
      <td>194.239976</td>
      <td>7.2</td>
      <td>2.0</td>
      <td>4.2</td>
      <td>200</td>
    </tr>
    <tr>
      <th>van Dijk</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>26.911765</td>
      <td>185.061156</td>
      <td>6.8</td>
      <td>3.0</td>
      <td>4.2</td>
      <td>183</td>
    </tr>
    <tr>
      <th>Robertson</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>24.246575</td>
      <td>181.293310</td>
      <td>7.3</td>
      <td>4.0</td>
      <td>4.6</td>
      <td>177</td>
    </tr>
    <tr>
      <th>Matip</th>
      <td>Liverpool</td>
      <td>Defender</td>
      <td>31.346154</td>
      <td>148.683917</td>
      <td>5.2</td>
      <td>5.0</td>
      <td>7.2</td>
      <td>163</td>
    </tr>
    <tr>
      <th>Laporte</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>26.500000</td>
      <td>155.579360</td>
      <td>6.0</td>
      <td>6.0</td>
      <td>4.6</td>
      <td>159</td>
    </tr>
    <tr>
      <th>Dias</th>
      <td>Man City</td>
      <td>Defender</td>
      <td>22.741935</td>
      <td>152.860806</td>
      <td>6.2</td>
      <td>7.0</td>
      <td>3.6</td>
      <td>141</td>
    </tr>
    <tr>
      <th>Cash</th>
      <td>Aston Villa</td>
      <td>Defender</td>
      <td>26.415094</td>
      <td>134.636953</td>
      <td>5.3</td>
      <td>8.0</td>
      <td>3.2</td>
      <td>140</td>
    </tr>
    <tr>
      <th>Rüdiger</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>23.114754</td>
      <td>145.171379</td>
      <td>6.1</td>
      <td>9.0</td>
      <td>1.7</td>
      <td>141</td>
    </tr>
    <tr>
      <th>Gabriel</th>
      <td>Arsenal</td>
      <td>Defender</td>
      <td>26.037736</td>
      <td>137.163572</td>
      <td>5.3</td>
      <td>10.0</td>
      <td>3.4</td>
      <td>138</td>
    </tr>
    <tr>
      <th>Coady</th>
      <td>Wolves</td>
      <td>Defender</td>
      <td>28.541667</td>
      <td>133.389477</td>
      <td>4.8</td>
      <td>11.0</td>
      <td>2.2</td>
      <td>137</td>
    </tr>
    <tr>
      <th>Thiago Silva</th>
      <td>Chelsea</td>
      <td>Defender</td>
      <td>22.857143</td>
      <td>134.972086</td>
      <td>5.6</td>
      <td>12.0</td>
      <td>2.3</td>
      <td>128</td>
    </tr>
    <tr>
      <th>Dier</th>
      <td>Spurs</td>
      <td>Defender</td>
      <td>26.808511</td>
      <td>120.081209</td>
      <td>4.7</td>
      <td>13.0</td>
      <td>4.6</td>
      <td>126</td>
    </tr>
    <tr>
      <th>Cucurella</th>
      <td>Brighton</td>
      <td>Defender</td>
      <td>25.306122</td>
      <td>119.340516</td>
      <td>4.9</td>
      <td>14.0</td>
      <td>5.5</td>
      <td>124</td>
    </tr>
    <tr>
      <th>Guéhi</th>
      <td>Crystal Palace</td>
      <td>Defender</td>
      <td>27.333333</td>
      <td>120.651488</td>
      <td>4.5</td>
      <td>15.0</td>
      <td>4.8</td>
      <td>123</td>
    </tr>
    <tr>
      <th>Jansson</th>
      <td>Brentford</td>
      <td>Defender</td>
      <td>26.888889</td>
      <td>116.027765</td>
      <td>4.5</td>
      <td>16.0</td>
      <td>5.5</td>
      <td>121</td>
    </tr>
    <tr>
      <th>Mings</th>
      <td>Aston Villa</td>
      <td>Defender</td>
      <td>23.600000</td>
      <td>117.877746</td>
      <td>5.0</td>
      <td>17.0</td>
      <td>3.0</td>
      <td>118</td>
    </tr>
    <tr>
      <th>Andersen</th>
      <td>Crystal Palace</td>
      <td>Defender</td>
      <td>24.468085</td>
      <td>107.862277</td>
      <td>4.7</td>
      <td>18.0</td>
      <td>3.6</td>
      <td>115</td>
    </tr>
    <tr>
      <th>Cresswell</th>
      <td>West Ham</td>
      <td>Defender</td>
      <td>21.111111</td>
      <td>117.089337</td>
      <td>5.4</td>
      <td>19.0</td>
      <td>2.2</td>
      <td>114</td>
    </tr>
    <tr>
      <th>Saïss</th>
      <td>Wolves</td>
      <td>Defender</td>
      <td>22.708333</td>
      <td>109.097565</td>
      <td>4.8</td>
      <td>20.0</td>
      <td>0.6</td>
      <td>109</td>
    </tr>
  </tbody>
</table>