<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Alisson</th>
      <td>Liverpool</td>
      <td>Goalkeeper</td>
      <td>28.852459</td>
      <td>170.514526</td>
      <td>6.1</td>
      <td>1.0</td>
      <td>3.0</td>
      <td>176</td>
    </tr>
    <tr>
      <th>Lloris</th>
      <td>Spurs</td>
      <td>Goalkeeper</td>
      <td>28.727273</td>
      <td>156.717805</td>
      <td>5.5</td>
      <td>2.0</td>
      <td>6.0</td>
      <td>158</td>
    </tr>
    <tr>
      <th>Ederson</th>
      <td>Man City</td>
      <td>Goalkeeper</td>
      <td>25.000000</td>
      <td>161.618526</td>
      <td>6.2</td>
      <td>3.0</td>
      <td>1.0</td>
      <td>155</td>
    </tr>
    <tr>
      <th>Sá</th>
      <td>Wolves</td>
      <td>Goalkeeper</td>
      <td>28.076923</td>
      <td>142.892934</td>
      <td>5.2</td>
      <td>4.0</td>
      <td>1.0</td>
      <td>146</td>
    </tr>
    <tr>
      <th>Fabianski</th>
      <td>West Ham</td>
      <td>Goalkeeper</td>
      <td>27.200000</td>
      <td>132.183765</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>2.0</td>
      <td>136</td>
    </tr>
    <tr>
      <th>Ramsdale</th>
      <td>Arsenal</td>
      <td>Goalkeeper</td>
      <td>26.470588</td>
      <td>133.735028</td>
      <td>5.1</td>
      <td>6.0</td>
      <td>2.0</td>
      <td>135</td>
    </tr>
    <tr>
      <th>de Gea</th>
      <td>Man Utd</td>
      <td>Goalkeeper</td>
      <td>26.400000</td>
      <td>130.732748</td>
      <td>5.0</td>
      <td>7.0</td>
      <td>2.0</td>
      <td>132</td>
    </tr>
    <tr>
      <th>Schmeichel</th>
      <td>Leicester</td>
      <td>Goalkeeper</td>
      <td>26.200000</td>
      <td>127.242446</td>
      <td>5.0</td>
      <td>8.0</td>
      <td>2.0</td>
      <td>131</td>
    </tr>
    <tr>
      <th>Pope</th>
      <td>Burnley</td>
      <td>Goalkeeper</td>
      <td>24.528302</td>
      <td>134.915036</td>
      <td>5.3</td>
      <td>9.0</td>
      <td>2.0</td>
      <td>130</td>
    </tr>
    <tr>
      <th>Mendy</th>
      <td>Chelsea</td>
      <td>Goalkeeper</td>
      <td>21.311475</td>
      <td>148.549388</td>
      <td>6.1</td>
      <td>10.0</td>
      <td>2.0</td>
      <td>130</td>
    </tr>
    <tr>
      <th>Sánchez</th>
      <td>Brighton</td>
      <td>Goalkeeper</td>
      <td>28.000000</td>
      <td>122.752189</td>
      <td>4.5</td>
      <td>11.0</td>
      <td>2.0</td>
      <td>126</td>
    </tr>
    <tr>
      <th>Martínez</th>
      <td>Aston Villa</td>
      <td>Goalkeeper</td>
      <td>23.454545</td>
      <td>134.823108</td>
      <td>5.5</td>
      <td>12.0</td>
      <td>0.0</td>
      <td>129</td>
    </tr>
    <tr>
      <th>Guaita</th>
      <td>Crystal Palace</td>
      <td>Goalkeeper</td>
      <td>25.869565</td>
      <td>114.166625</td>
      <td>4.6</td>
      <td>13.0</td>
      <td>10.0</td>
      <td>119</td>
    </tr>
    <tr>
      <th>Pickford</th>
      <td>Everton</td>
      <td>Goalkeeper</td>
      <td>24.166667</td>
      <td>116.327417</td>
      <td>4.8</td>
      <td>14.0</td>
      <td>0.0</td>
      <td>116</td>
    </tr>
    <tr>
      <th>Meslier</th>
      <td>Leeds</td>
      <td>Goalkeeper</td>
      <td>22.083333</td>
      <td>112.517630</td>
      <td>4.8</td>
      <td>15.0</td>
      <td>4.0</td>
      <td>106</td>
    </tr>
    <tr>
      <th>Dubravka</th>
      <td>Newcastle</td>
      <td>Goalkeeper</td>
      <td>21.818182</td>
      <td>93.178630</td>
      <td>4.4</td>
      <td>16.0</td>
      <td>3.0</td>
      <td>96</td>
    </tr>
    <tr>
      <th>Krul</th>
      <td>Norwich</td>
      <td>Goalkeeper</td>
      <td>20.000000</td>
      <td>90.561995</td>
      <td>4.5</td>
      <td>17.0</td>
      <td>2.0</td>
      <td>90</td>
    </tr>
    <tr>
      <th>Foster</th>
      <td>Watford</td>
      <td>Goalkeeper</td>
      <td>19.285714</td>
      <td>78.166643</td>
      <td>4.2</td>
      <td>18.0</td>
      <td>0.0</td>
      <td>81</td>
    </tr>
  </tbody>
</table>