<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team</th>
      <th>position</th>
      <th>value</th>
      <th>projection</th>
      <th>now_cost</th>
      <th>Total rank</th>
      <th>form</th>
      <th>total_points</th>
    </tr>
    <tr>
      <th>web_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Alisson</th>
      <td>Liverpool</td>
      <td>Goalkeeper</td>
      <td>28.360656</td>
      <td>167.773818</td>
      <td>6.1</td>
      <td>1.0</td>
      <td>4.4</td>
      <td>173</td>
    </tr>
    <tr>
      <th>Ederson</th>
      <td>Man City</td>
      <td>Goalkeeper</td>
      <td>24.838710</td>
      <td>154.095358</td>
      <td>6.2</td>
      <td>2.0</td>
      <td>3.6</td>
      <td>154</td>
    </tr>
    <tr>
      <th>Lloris</th>
      <td>Spurs</td>
      <td>Goalkeeper</td>
      <td>27.636364</td>
      <td>150.434534</td>
      <td>5.5</td>
      <td>3.0</td>
      <td>4.6</td>
      <td>152</td>
    </tr>
    <tr>
      <th>Sá</th>
      <td>Wolves</td>
      <td>Goalkeeper</td>
      <td>27.884615</td>
      <td>142.188583</td>
      <td>5.2</td>
      <td>4.0</td>
      <td>1.6</td>
      <td>145</td>
    </tr>
    <tr>
      <th>Fabianski</th>
      <td>West Ham</td>
      <td>Goalkeeper</td>
      <td>26.800000</td>
      <td>131.749869</td>
      <td>5.0</td>
      <td>5.0</td>
      <td>6.8</td>
      <td>134</td>
    </tr>
    <tr>
      <th>Ramsdale</th>
      <td>Arsenal</td>
      <td>Goalkeeper</td>
      <td>26.078431</td>
      <td>131.202505</td>
      <td>5.1</td>
      <td>6.0</td>
      <td>2.2</td>
      <td>133</td>
    </tr>
    <tr>
      <th>de Gea</th>
      <td>Man Utd</td>
      <td>Goalkeeper</td>
      <td>26.000000</td>
      <td>127.721317</td>
      <td>5.0</td>
      <td>7.0</td>
      <td>3.0</td>
      <td>130</td>
    </tr>
    <tr>
      <th>Schmeichel</th>
      <td>Leicester</td>
      <td>Goalkeeper</td>
      <td>25.800000</td>
      <td>127.763082</td>
      <td>5.0</td>
      <td>8.0</td>
      <td>3.7</td>
      <td>129</td>
    </tr>
    <tr>
      <th>Martínez</th>
      <td>Aston Villa</td>
      <td>Goalkeeper</td>
      <td>23.454545</td>
      <td>133.442047</td>
      <td>5.5</td>
      <td>9.0</td>
      <td>4.0</td>
      <td>129</td>
    </tr>
    <tr>
      <th>Pope</th>
      <td>Burnley</td>
      <td>Goalkeeper</td>
      <td>24.150943</td>
      <td>130.348709</td>
      <td>5.3</td>
      <td>10.0</td>
      <td>4.8</td>
      <td>128</td>
    </tr>
    <tr>
      <th>Mendy</th>
      <td>Chelsea</td>
      <td>Goalkeeper</td>
      <td>20.983607</td>
      <td>135.640114</td>
      <td>6.1</td>
      <td>11.0</td>
      <td>3.3</td>
      <td>128</td>
    </tr>
    <tr>
      <th>Sánchez</th>
      <td>Brighton</td>
      <td>Goalkeeper</td>
      <td>27.555556</td>
      <td>121.125286</td>
      <td>4.5</td>
      <td>12.0</td>
      <td>4.5</td>
      <td>124</td>
    </tr>
    <tr>
      <th>Pickford</th>
      <td>Everton</td>
      <td>Goalkeeper</td>
      <td>24.166667</td>
      <td>114.264075</td>
      <td>4.8</td>
      <td>13.0</td>
      <td>4.5</td>
      <td>116</td>
    </tr>
    <tr>
      <th>Guaita</th>
      <td>Crystal Palace</td>
      <td>Goalkeeper</td>
      <td>23.695652</td>
      <td>107.583988</td>
      <td>4.6</td>
      <td>14.0</td>
      <td>1.8</td>
      <td>109</td>
    </tr>
    <tr>
      <th>Meslier</th>
      <td>Leeds</td>
      <td>Goalkeeper</td>
      <td>21.250000</td>
      <td>103.399030</td>
      <td>4.8</td>
      <td>15.0</td>
      <td>3.6</td>
      <td>102</td>
    </tr>
    <tr>
      <th>Dubravka</th>
      <td>Newcastle</td>
      <td>Goalkeeper</td>
      <td>21.136364</td>
      <td>89.636413</td>
      <td>4.4</td>
      <td>16.0</td>
      <td>5.2</td>
      <td>93</td>
    </tr>
    <tr>
      <th>Krul</th>
      <td>Norwich</td>
      <td>Goalkeeper</td>
      <td>19.555556</td>
      <td>87.302380</td>
      <td>4.5</td>
      <td>17.0</td>
      <td>0.8</td>
      <td>88</td>
    </tr>
    <tr>
      <th>Foster</th>
      <td>Watford</td>
      <td>Goalkeeper</td>
      <td>19.285714</td>
      <td>78.500029</td>
      <td>4.2</td>
      <td>18.0</td>
      <td>3.4</td>
      <td>81</td>
    </tr>
  </tbody>
</table>